<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head', { model: { locale: model.locale, title: 'BET GRIMOIN - Expertises' } }) %>
  <%- include('partials/header', { model: { locale: model.locale, translations: model.translations } }) %>


  <body>
    <!-- Hero Start -->
    <section id="fh5co-features">
      <img
        src="/img/banner contact good.png"
        style="width: 100%; margin-top: -13px"
      />
      <!-- Hero End -->
      <div class="container">
        <br />
        <div class="container feature py-5 px-lg-0">
          <div>
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
              <%= model.translations['expertises.title'] %>
            </h1>
            <div>
              <hr class="red_ligne" size="4px" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Expertise Start -->
    <body>
      <div class="container text-center mt-n5">
        <!-- Thermique Start -->
        <div class="row">
          <div class="col-md-6 text-center espacement">
            <h6 class="small-title">RÉGLEMENTATION THERMIQUE</h6>
            <h4 class="big-title"><strong>Étude thermique</strong></h4>
            <hr class="custom-red-hr" />
            <p class="custom-p">
              Nos spécialistes en efficacité énergétique <br />travaillent avec
              passion pour vous aider à optimiser <br />la performance thermique
              de vos bâtiments. Grâce à <br />des simulations avancées, nous
              identifions les zones <br />de pertes de chaleur et proposons des
              solutions sur <br />mesure pour renforcer l'isolation et améliorer
              la <br />gestion thermique globale de vos espaces.
            </p>
            <hr class="custom-hr" />
          </div>
          <div class="col-md-6">
            <img
              src="/img/qualibat-05-29_une.webp"
              style="max-width: 100%; max-height: 100%"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
        </div>
        <!-- Thermique End -->
        <br />
        <br />
        <br /><br /><br />
        <!-- Diagnostic Start -->
        <div class="row espacement-autre">
          <div class="col-md-6">
            <img
              src="/img/etude thermique 1.jpg"
              style="height: 300px; width: 300px"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 text-center">
            <h6 class="small-title-stcd">DPE</h6>
            <h4 class="big-title-dpe"><strong>Diagnostic</strong></h4>
            <hr class="custom-red-hr-right" />
            <p class="custom-p-right-stcd">
              Nos spécialistes en efficacité énergétique <br />travaillent avec
              passion pour vous aider à optimiser <br />la performance thermique
              de vos bâtiments. Grâce à <br />des simulations avancées, nous
              identifions les zones <br />de pertes de chaleur et proposons des
              solutions sur <br />mesure pour renforcer l'isolation et améliorer
              la <br />gestion thermique globale de vos espaces.
            </p>
            <hr class="custom-hr-right" />
          </div>
        </div>
        <!-- Diagnostic End -->
        <!-- Electricity Start -->
        <div class="row espacement-autre">
          <div class="col-md-6 text-center espacement-autre-elec">
            <h6 class="small-title-elec">ÉLÉCTRICITÉ</h6>
            <h4 class="big-title-elec"><strong>Élécticité</strong></h4>
            <hr class="custom-red-hr" />
            <p class="custom-p">
              L'électricité est au cœur de tout bâtiment moderne. <br />Notre
              équipe qualifiée se charge de la conception et <br />de
              l'installation de systèmes électriques conformes <br />aux normes
              en vigueur. Nous mettons l'accent sur la <br />sécurité et
              l'efficacité énergétique, assurant ainsi <br />le bon
              fonctionnement de vos installations <br />électriques.
            </p>
            <hr class="custom-hr" />
          </div>
          <div class="col-md-6">
            <img
              src="/img/éléc.jpeg"
              style="max-width: 100%; max-height: 100%"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
        </div>
        <!-- Electricity End -->
        <br />
        <br />
        <br /><br /><br />
        <!-- SSI Start -->
        <div class="row espacement-autre">
          <div class="col-md-6">
            <img
              src="/img/SSI.jpg"
              style="height: 300px; width: 300px"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 text-center espacement">
            <h6 class="small-title-stcd">SSI</h6>
            <h4 class="big-title-ssi">
              <strong>Systeme Sécurité incendie</strong>
            </h4>
            <hr class="custom-red-hr-right" />
            <p class="custom-p-right-stcd">
              La sécurité incendie est une priorité. Nos solutions
              <br />avancées de systèmes de sécurité incendie (SSI)
              <br />incluent détection précoce, alertes efficaces et
              <br />systèmes d'extinction automatique, garantissant ainsi
              <br />la protection de vos biens et de vos occupants en cas
              <br />d'incendie.
            </p>
            <hr class="custom-hr-right" />
          </div>
        </div>
        <!-- SSI End -->
        <!-- Fluides Start -->
        <div class="row espacement-autre">
          <div class="col-md-6 text-center espacement-autre-fl">
            <h6 class="small-title-fl">FLUIDES</h6>
            <h4 class="big-title-fl"><strong>Fluides</strong></h4>
            <hr class="custom-red-hr" />
            <p class="custom-p">
              Une bonne gestion des fluides est cruciale pour le <br />confort
              et la santé des occupants. Notre équipe <br />spécialisée conçoit
              et installe des systèmes de <br />plomberie et de ventilation
              performants, assurant un <br />environnement intérieur sain et
              agréable.
            </p>
            <hr class="custom-hr" />
          </div>
          <div class="col-md-6">
            <img
              src="/img/fluides.jpg"
              style="max-width: 100%; max-height: 100%"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
        </div>
        <!-- Fluides End -->
        <br />
        <br />
        <br /><br /><br />
        <!-- Structure Start -->
        <div class="row espacement-autre">
          <div class="col-md-6">
            <img
              src="/img/Structure Tout Corps d'État.jpg"
              style="height: 300px; width: 300px"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 text-center espacement">
            <h6 class="small-title-stcd">STCD</h6>
            <h4 class="big-title-stcd">
              <strong>Structure Tout Corps d'État</strong>
            </h4>
            <hr class="custom-red-hr-right" />
            <p class="custom-p-right-stcd">
              La structure est le socle de tout bâtiment solide. <br />Notre
              service de coordination de travaux de structure <br />couvre tous
              les aspects, que ce soit pour des projets <br />de construction
              neuve ou de rénovation. Nous <br />garantissons une structure
              fiable et durable.
            </p>
            <hr class="custom-hr-right" />
          </div>
        </div>
        <!-- Structure End -->
        <!-- Amo Start -->
        <div class="row espacement-autre">
          <div class="col-md-6 text-center espacement-autre-amo">
            <h6 class="small-title-amo">AMO</h6>
            <h4 class="big-title-amo">
              <strong>Assistance à Maîtrise d'Ouvrage</strong>
            </h4>
            <hr class="custom-red-hr" />
            <p class="custom-p">
              Notre service d'Assistance à Maîtrise d'Ouvrage <br />vous
              accompagne à chaque étape de votre projet. Nous <br />veillons à
              la protection de vos intérêts, au respect <br />des délais et à la
              maîtrise des coûts.
              <br />
            </p>
            <hr class="custom-hr" />
          </div>
          <div class="col-md-6">
            <img
              src="/img/Assistance à Maîtrise d'Ouvrage.jpg"
              style="max-width: 100%; max-height: 100%"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
        </div>
        <!-- Amo End -->
        <!-- MDTCD Start -->
        <div class="row espacement-autre-mdtcd">
          <div class="col-md-6">
            <img
              src="/img/Maîtrise d'oeuvre Tout Corps d'État.jpg"
              style="height: 300px; width: 300px"
              alt="Image 2"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 text-center espacement">
            <h6 class="small-title-mdtcd">MDTCD</h6>
            <h4 class="big-title-mdtcd">
              <strong>Maîtrise d'Œuvre Tout Corps d'État</strong>
            </h4>
            <hr class="custom-red-hr-right" />
            <p class="custom-p-right">
              <br />Coordonner les différentes étapes de la construction
              <br />est un défi majeur. Notre équipe de maîtrise d'œuvre
              <br />tout corps d'état assure une coordination fluide <br />entre
              les différents métiers impliqués dans votre <br />projet,
              garantissant une réalisation réussie.
            </p>
            <hr class="custom-hr-right" />
          </div>
        </div>
        <!-- MDTCD End -->
      </div>
    </body>
    <br /><br /><br /><br /><br /><br />
    <!-- Expertise End -->
    <%- include('partials/footer', { model: { locale: model.locale, translations: model.translations } }) %>
  </body>
</html>
