<!DOCTYPE html>
<html lang="FR">
  <%- include('partials/head', { model: { locale: model.locale, title: 'BET GRIMOIN - Domaine privée' } }) %>
  <%- include('partials/header', { model: { locale: model.locale } }) %>

  <body>
    <!-- Hero Start -->
    <section id="fh5co-features">
      <img
        src="/img/banner contact good.png"
        style="width: 100%; margin-top: -13px"
      />
      <!-- Hero End -->
      <!-- Article Start -->
      <div class="container">
        <br /><br /><br /><br /><br /><br />
        <div class="container-xxl py-5">
          <div class="container">
            <div class="section-title text-center">
              <h1 class="display-5 mb-5">Nos Réalisations Privée</h1>
              <div>
                <hr class="red_ligne" size="4px" />
              </div>
            </div>
            <div class="row g-4">
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid"
                      src="/img/hachette_livre.png"
                      style="height: 172px"
                      alt="image batiment"
                    />
                  </div>
                  <div
                    class="p-4 text-center border border-5 border-light border-top-0"
                  >
                    <h4 class="mb-3">Hachette</h4>
                    <p>
                      Hachette Livre dispose d'un immeuble d'activité regroupant
                      une partie de ses services sur la commune de Vanves <br />
                      ....
                    </p>
                    <a class="fw-medium" href="A5-hachette.html"
                      >Voir plus<i class="fa fa-arrow-right ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid"
                      src="/img/ehpad.png"
                      style="height: 172px"
                      alt="image ehpad"
                    />
                  </div>
                  <div
                    class="p-4 text-center border border-5 border-light border-top-0"
                  >
                    <h4 class="mb-3">Ehpad</h4>
                    <p>
                      Mettre aux normes EHPAD les chambres existantes en
                      accroissant leur surface et en créant des <br />....
                    </p>
                    <a class="fw-medium" href="A2-ehpad.html"
                      >Voir plus<i class="fa fa-arrow-right ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid"
                      src="/img/chataigneraie.png"
                      alt="image du batiment"
                    />
                  </div>
                  <div
                    class="p-4 text-center border border-5 border-light border-top-0"
                  >
                    <h4 class="mb-3">Chataigneraie</h4>
                    <p>
                      Le présent projet a pour objet de définir les travaux
                      nécessaires à la réalisation : · Des installations
                      d’appareils sanitaires<br />....
                    </p>
                    <a class="fw-medium" href="A1-chataigneraie.html"
                      >Voir plus<i class="fa fa-arrow-right ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid"
                      src="/img/exemple1.png"
                      style="height: 172px; width: 400px"
                      alt=""
                    />
                  </div>
                  <div
                    class="p-4 text-center border border-5 border-light border-top-0"
                  >
                    <h4 class="mb-3">Publication A venir</h4>
                    <p>
                      Nous avons réalisé de nombreux projets et les publierons
                      ultérieurement ou ajouterons de nouvelle réalisations.
                      <br />
                      ....
                    </p>
                    <a class="fw-medium"
                      >À venir<i class="fa fa-arrow-right ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid"
                      src="/img/exemple1.png"
                      style="height: 172px; width: 400px"
                      alt=""
                    />
                  </div>
                  <div
                    class="p-4 text-center border border-5 border-light border-top-0"
                  >
                    <h4 class="mb-3">Publication A venir</h4>
                    <p>
                      Nous avons réalisé de nombreux projets et les publierons
                      ultérieurement ou ajouterons de nouvelle réalisations.
                      <br />
                      ....
                    </p>
                    <a class="fw-medium"
                      >À venir<i class="fa fa-arrow-right ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                  <div class="overflow-hidden">
                    <img
                      class="img-fluid"
                      src="/img/exemple1.png"
                      style="height: 172px; width: 400px"
                      alt=""
                    />
                  </div>
                  <div
                    class="p-4 text-center border border-5 border-light border-top-0"
                  >
                    <h4 class="mb-3">Publication A venir</h4>
                    <p>
                      Nous avons réalisé de nombreux projets et les publierons
                      ultérieurement ou ajouterons de nouvelle réalisations.
                      <br />
                      ....
                    </p>
                    <a class="fw-medium"
                      >À venir<i class="fa fa-arrow-right ms-2"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Article End -->
        <br /><br /><br /><br />
        <%- include('partials/footer', { model: { locale: model.locale } }) %>
    </section>
  </body>
</html>
