<div class="testimonial-item p-4 my-5">
    <div class="d-flex align-items-end mb-4">
      <img
        class="img-fluid flex-shrink-0"
        src="<%= model.testimonial.pictureUrl %>"
        style="width: 80px; height: 80px"
      />
      <div class="ms-4">
        <h5 class="mb-1"><%= model.testimonial.title %></h5>
        <p class="m-0"><%= model.testimonial.subTitle %></p>
      </div>
    </div>
  </div>